*{
  line-height: 2;
  text-decoration: none;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body{
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
}
.title{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    height: 104px;
}


.title > ul > li{
  color: black;
  font-size: 1rem;
  display: flex;
  align-items:center;
  display: flex;
  align-items: center;
  position: relative;
}

.insider,.insider2 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
}

.butt{
  border: none;
  background-color: rgb(0, 107, 255);
  color: white;
  border-radius: 24px;
  padding: 8px 16px;
  font-size: 16px;
  transition: transform .2s;
}


.change:hover{
  color: rgb(0, 107, 255);
}
.log{
  transition: transform .2s;
}
.log:hover{
  color: rgb(0, 107, 255);
  transform: scale(1.1);
}
.butt:hover{
  transform: scale(1.1);
}

.butt:active{
  transform: scale(0.98);
}

.heading{
  font-size: 4.20875rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgb(0, 0, 0);
  max-width: 530px;
  /* text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); */
}

.highlight{
  color: rgb(0, 107, 255);
}

.title2{
  padding-top: 70px;
  display: flex;
  justify-content:space-between;
}


.title > ul > li > a {
    margin: 0px 20px;
    font-size: 1rem;
    line-height: 1;
    color: rgb(0, 0, 0);
    font-weight: 700;
    transition: all 0.2s linear 0s;
    white-space: nowrap;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(255, 255, 255);
}


.c1,.c2,.c3,.c4{
  transition: transform .2s;
}
.c1:hover{
    transform: scale(1.1);
}
.c2:hover{
    transform: scale(1.1);
}
.c3:hover{
    transform: scale(1.1);
}
.c4:hover{
    transform: scale(1.1);
}
.loop{
  margin-right: 150px;
}
.last{
  font-size: 1.2rem;
  text-align: left;
  color: rgb(0, 0, 0);
  max-width: 430px;
}
