<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="home.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Merriweather:wght@300&family=Satisfy&family=Source+Sans+Pro&display=swap');
      * {
        padding: 0px;
        margin: 0px;
        background-color: white;
      }
      .full {
        height: 100vh;
        width: 100%;
        background-color: white;
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .img {
        width: 80px;
      }
      .img img {
        width: 100%;
      }
      .options ul li {
        display: flex;
        flex-direction: row;
        position: relative;
        font-weight: bolder;
        font-size: 15px;
        margin: 2px;
      }
      .options {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
      .logout {
        padding-top: 10px;
      }
      .logout a {
        text-decoration: none;
        color: white;
        height: 8px;
        padding: 5px;
        background-color: blue;
        width: 10px;
        font-weight: bolder;
        border-radius: 20px;
      }
      .logout a:hover {
        background-color: darkblue;
      }
      .options ul li:hover {
        color: blue;
        cursor: pointer;
        transform: scale(1.5);
      }
      @media (min-width: 768px) {
        .header {
          margin: 0px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .img {
          width: 15%;
        }
        .opt {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          flex-direction: row;
          padding-left: 600px;
        }
        .options ul li {
          font-size: 25px;
          margin: 10px;
        }
        .logout a {
          font-size: 1.5rem;
          padding: 0.5rem;
        }
      }

      /* ********************card****************** */
      main {
        height: 60px;
      }
      .card {
        height: 80vh;
        width: 100%;
        
      }
      .inner_left {
        background-color: #1ca3a4;
        padding: 20px 0px 0px 10px;
      }
      .inner_right {
        background-image: radial-gradient(
          farthest-corner at 50% 70%,
          #b2c5cb 1%,
          #1ca3a4 60%
        );
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .first {
        background-color: transparent;
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        font-family: Gilroy, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
          'Segoe UI Emoji', 'Segoe UI Symbol';
      }
      .second {
        background-color: transparent;
        color: rgb(2, 2, 146);
        font-size: 45px;
        margin-top: -10px;
        font-weight: bolder;
        text-decoration: none;
        font-family: Gilroy, -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
          'Segoe UI Emoji', 'Segoe UI Symbol';
      }
      .inner_left pre {
        background-color: transparent;
        color: white;
        font-size: 12px;
        margin-top: 5px;
        font-family: 'Baloo Bhai 2', cursive;
      }
      
      .book input {
        
        background-color: rgb(2, 2, 146);
        border: none;
        color: white;
        font-weight: bolder;
        font-size: 22px;
        height: 45px;
        width: 150px;
        border-radius: 5px;
        box-shadow: 2px 3px black;
        cursor: pointer;
      }
      .book a {
        text-decoration: none;
      }
      
      .book input:hover {
        background-color: rgb(9, 9, 91);
      }
      @media (min-width: 768px) {
        .card{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .inner_left{
          height: 100%;
          width: 100%;
          padding-top: 0%;
          
        }
        .inner_right{
          height: 100%;
          width: 100%;
        }
        .first{
          font-size: 4rem;
        }
        .second{
          font-size: 5.5rem;
        }
        .inner_left pre{
          font-size: 30px;
        }
      }

      /* ********************footer************/
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        height: 10%;
      }
    </style>
  </head>
  <body>
    <div class="full">
      <header class="header">
        <div class="img">
          <img src="https://iiitdwd.ac.in/img/logon.png" />
        </div>
        <div class="options">
          <ul class="opt">
            <li>
              <a href="home">Home</a>
            </li>
            <li>
              <a href="book">Book</a>
            </li>
            <li>
              <a href="requests">Request</a>
            </li>
          </ul>
        </div>
        <div>
          <div class="logout">
            <a href="/login">Sign Out</a>
          </div>
        </div>
      </header>
      <main>
        <div class="card">
          <div class="inner_left">
            <h1 class="first">Booking Site For</h1>
            <h1 class="second">IIIT Dharwad</h>
        <pre>
This is your hub for scheduling quizes, 
guest lectures and many other activities, 
thus eliminating the hassle of 
back-and-forth emails 
so you can get back to work.
        </pre>
        </div>
        <div class="inner_right">
            <span class="book" >
                <a href="book"><input type="submit" value="Room Book"></a>
            </span>
        </div>
        </div>
      </main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>
