<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin login</title>

</head>
<style>
    * {
        margin: 0px;
        background-color: rgb(218, 246, 255);
        font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .baap {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .outer {
        height: 450px;
        width: 700px;
        background-color: rgb(0, 107, 255);
        position: absolute;
        top: 100px;
        border-radius: 15px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }

    .innerleft {
        height: 450px;
        width: 385px;
        background-color: white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
    align-items: center; */
        position: absolute;
    }

    .innerright {
        height: 450px;
        width: 315px;
        background-color: rgb(0, 107, 255);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 780px;
    }

    .adminlogin {
        height: 50px;
        width: 100px;
        background-color: rgb(0, 107, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .adminlogin_link {
        height: 30px;
        width: 180px;
        color: white;
        text-decoration: None;
        border: solid 1px rgb(4, 4, 97);
        background-color: rgb(4, 4, 97);
        border-radius: 15px;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
        position: absolute;
        top: 304px;
        left: 50px;
        padding-top: 10px;
        padding-left: 10px;
    }

    .adminlogin_link:hover {
        background-color: rgb(1, 1, 71);
        border-color: rgb(1, 1, 71);
    }
    .admin_heading_div{
        height:80px;
        width:315px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 107, 255);
    }
    .admin_heading {
        font-weight: 500;
        font-size: 3rem;
        background-color: rgb(0, 107, 255);
        color:rgb(219, 218, 218);
        position: absolute;
        top:130px;
        right:80px;
    }

    .email_div {
        height: 50px;
        width: 385px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 140px;
    }

    .password_div {
        height: 50px;
        width: 385px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 200px;
    }

    .email {
        height: 32px;
        width: 210px;
        background-color: rgba(225, 224, 224, 0.697);
        border-radius: 7px;
        border: solid 1px rgb(187, 187, 187);
        padding-left: 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        font-size: 1rem;
    }

    .password {
        height: 32px;
        width: 210px;
        background-color: rgba(225, 224, 224, 0.697);
        border-radius: 7px;
        border: solid 1px rgb(187, 187, 187);
        padding-left: 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        font-size: 1rem;
    }

    .email:focus {
        border: None;
        outline: None;
        border: solid 1px black;
    }

    .password:focus {
        border: None;
        outline: None;
        border: solid 1px black;
    }

    .login_div {
        height: 50px;
        width: 385px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 300px;
    }

    .login {
        height: 35px;
        width: 180px;
        background-color: rgb(0, 107, 255);
        border-radius: 6px;
        border: solid 1px rgb(0, 107, 255);
        padding-left: 15px;
        text-align: center;
        color: white;
        font-size: 0.9rem;
    }

    .signup_div {
        height: 30px;
        width: 385px;
        background-color: white;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 405px;
    }

    .signup {
        height: 30px;
        width: 240;
        color: grey;
        background-color: white;
        font-size: 0.9rem;
    }

    .signup_link {
        background-color: white;
        padding-left: 5px;
        text-decoration: None;
        color: rgb(3, 92, 218);
        font-weight: 500;
    }

    .head_div {
        height: 70px;
        width: 385px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
    }

    .head {
        font-size: 2rem;
        background-color: white;
        font-weight: 500;
        color: rgb(89, 88, 88)
    }
</style>
<body>
    <div class="baap">
        <div class="outer">
            <div class="innerleft">
                <div class="head_div">
                    <p class="head">Welcome Back!</p>
                </div>
                <form action="/login" method="post">
                    <div class="email_div">
                        <input name="username" class="email" type="text" placeholder="Email">
                    </div>
                    <div class="password_div">
                        <input name="password" class="password" type="password" placeholder="Password">
                    </div>
                    <div class="login_div">
                        <input class="login" type="submit" value="Login">
                    </div>
                </form>
                <div class="signup_div">
                    <p class="signup">Don't have an account?<a class="signup_link" href="/">Sign Up</a></p>
                </div>
                </div>
            </div>
            <div class="innerright">
                <div class="adminlogin">
                    <a class="adminlogin_link" href="admin_login">Admin login</a>
                </div>
                <div class="admin_heading_div">
                    <p class="admin_heading">Are you an Admin?</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
